<html>
    <head><title></title></head>
    <body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="radio" id="answerusrToquestion" name="answerusrToquestion" value="1" checked readonly hidden required>

        {% for question in  questiontest %}
        {{forloop.counter}}

            {{question}}
            <br>
            <input type="text" style="visibility:hidden"  id="answerusrQuestion{{question.id}}" name="answerusrQuestion{{forloop.counter}}" value="{{question.id}}" readonly hidden required>          

            {% for answer in  anwsertest %}
                {% if answer.answerQuestion.id == question.id  %}

                    <input type="radio" id="answerusrToquestion{{question.id}}" name="answerusrToquestion{{forloop.parentloop.counter}}" value="{{answer.id}}" required>   
                    {{answer}}  
                    <br>
                {% endif %}
            {% endfor %}           
            <br>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Registrar avistamiento</button>

    </form>
    </body>
</html>