<html>
    <head>
        <title>Teachable Machine Image Model - p5.js and ml5.js</title>
    </head>
<body>
  <div>Beecare</div>
  <script src="https://cdn.jsdelivr.net/npm/p5@latest/lib/p5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/p5@latest/lib/addons/p5.dom.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ml5@latest/dist/ml5.min.js"></script>
  <input type="text" id="beeName" name="beeName">
  <label style="color: brown;"  id="isBeeOrNo" name="isBeeOrNo"></label>
  <label style="color: chocolate;"  id="stingBee" name="stingBee"></label>

  <input type="file" id="img-change" value="BeeCareLogo.png">
  <img name="img1" id="img1" src="https://res.cloudinary.com/dwxkhmtb3/image/upload/v1680062470/apis_mel%C3%ADfera_qp7oms.jpg" style="height: 320;width: 260;"  align="left" crossorigin="anonymous" >

  <script type="text/javascript">
  const inputImagen = document.getElementById("img-change");
  const miImagen = document.getElementById("img1");

  inputImagen.addEventListener("change", function() {
    const archivo = inputImagen.files[0];
    const lector = new FileReader();
    lector.addEventListener("load", function() {
      miImagen.src = lector.result;
      classifyImage1();
    }, false);
    if (archivo) {
      lector.readAsDataURL(archivo);
    }
  });
      // Classifier Variable
      let classifier1;
      // Modelo URL
      // URL de modelo Es o no es una abeja 
      let imageModelURL1 = 'https://teachablemachine.withgoogle.com/models/ZQHGqR6VL/';
      // URL de modelo Especies de abeja 
      let imageModelURL2 = 'https://teachablemachine.withgoogle.com/models/LrT7jTXwS/';
      // URL de modelo Tiene o no agujón
      let imageModelURL3 = 'https://teachablemachine.withgoogle.com/models/AVu_m7GH_/';
      // Imagen
      let imagebee;
      // Label de resultado
      let label1 = "";
      let label2 = "";
      // Carga de modelo
      function preload() {
        // Clasificador de: Es o no es una abeja - modelo
        classifier1 = ml5.imageClassifier(imageModelURL1 + 'model.json',{cors:true}); 
        // Clasificador de: Especies de abeja - modelo
        classifier2 = ml5.imageClassifier(imageModelURL2 + 'model.json',{cors:true});
        // Clasificador de: Tiene o no agujón - modelo
        classifier3 = ml5.imageClassifier(imageModelURL3 + 'model.json',{cors:true});
        imagebee = document.getElementById("img1") ;
        console.log(imagebee);
      }
      // Creación de lienzo a analizar del modelo en dimensiones de 320 pixels vs 260 pixels
      function setup() {
        createCanvas(320, 260);
    
        // Empieza a clasificar
        classifyImage1();
      }
      // Se obtiene una predicción de la imagen
      function classifyImage1() {
        classifier1.classify(imagebee, gotResult1);
      }
      // Se obtienen los resultados de la imagen
      function gotResult1(error, results) {
        // En caso de error
        if (error) {
          console.error(error);
          return;
        }
        // Resultados, asignación de valor a label
        label1 = results[0].label;

        if( label1 == "Es una abeja"){
          document.getElementById("isBeeOrNo").textContent = label1
          console.log(label1); 
          classifyImage2();
        }
        document.getElementById("beeName").value = "";
        document.getElementById("isBeeOrNo").textContent = label1;
        document.getElementById("stingBee").textContent = "";
        console.log(label1);
    }

      // Se obtiene una predicción de la imagen
      function classifyImage2() {
        classifier2.classify(imagebee, gotResult2);
        }

      // Se obtienen los resultados de la imagen
      function gotResult2(error, results) {
        // En caso de error
        if (error) {
          console.error(error);
          return;
        }
        // Resultados, asignación de valor a textbox
        label2 = results[0].label;

        document.getElementById("beeName").value = label2
        console.log(label2); 
        classifyImage3();
        
    }

      // Se obtiene una predicción de la imagen
      function classifyImage3() {
        classifier3.classify(imagebee, gotResult3);
        }
      
      // Se obtienen los resultados de la imagen
      function gotResult3(error, results) {
        // En caso de error
        if (error) {
          console.error(error);
          return;
        }
        // Resultados, asignación de valor a textbox
        label3 = results[0].label;

        document.getElementById("stingBee").textContent = label3
        console.log(label3);    
    }
  </script>
</body>
</html>